.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 72px;
    
    padding: 10px;
  }


  @media screen and (max-width: 992px) {
  
    .grid-container {
      grid-column-gap: 0px !important;

    }
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 72px;
    
    /* background-color: #2196F3; */
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /*uncomment later!*/
    /* padding: 20px; */
    font-size: 19px;
    text-align: center;
  }


  .grid-item2 {
    margin-top:30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
   
    font-size: 19px;
    text-align: center;
  }



*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
  /* background: green; */

  background: #d22222;;
}

div.widget
{
  position: relative;
  width: 355px;
  height: 100%;
  margin: auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.left-panel
{
  text-align:center;
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 81px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}



div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}